<%= link_to 'sign in', new_user_session_path if !user_signed_in? %>
<%= link_to 'Sign up', user_registration_path if !user_signed_in? %>
<%= "Signed in as #{current_user.email}" if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path if user_signed_in? %>

<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <% if item.inventory > 0 %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% end %>
<% end %>